@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    position: absolute;
    width: 100%;
    height: 89px;
    left: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #590BFF;
    color: aliceblue;
    font-size: 54px;
    position: fixed;
}

aside {
    width: 200px;
    background-color: #f1f1f1;
    height: 100%;
    font-size: 28px;
    position: absolute;
    top: 151px;
    left: 25px;
    text-align: center;
}


.sidebar a    {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: 24px;
}

.sidebar {
    border: 1px solid black;
    width: 282px;
    height: 457px;
}

a:active {
    color: #f00;
}


.header_header {
    padding: 13px 1008px 13px 29px;
}

a:visited {
    color: orange;
}

.section_one {
    font-size: 28px;
    position: absolute;
    left: 335px;
    top: 143px;
}

.section_two {
    font-size: 28px;
    position: absolute;
    top: 623px;
    left: 335px;
}

h2 {
    background: #590BFF;
    color: white;
    width: 1080px;
    height: 41px;
    padding: 4px 1048px 4px 13px;
}




