/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #090369;
    max-width: 1440px;
    width:100%;
}


p {
    padding-left: 53px;
}
.wrap {
    background-color: white;
    max-width: 600px;
    min-width: 320px;
    width: 100%;
    height: 412px;
    float: center;
}

.btn {
    background-color: #090369;
    color: #FFFFFF;
    border-radius: 10px;
    width: 180px;
    height: 52px;
    font-size: 24px;
    margin-left: 218px;
    margin-top: 56px;
}

.wrap {
    width: 600px;
    height: 412px;
    border-radius: 20px;
    margin: auto;
}

.new {
    color: #787878;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #787878;
    padding-top: 25px;
}

.input__field {
    width: 509px;
    height: 49px;
    padding-left: 45px;
    margin-left: 3.5%;
    font-size: 28px;
    font-weight: bold;
}



.login {
    margin-top: 82px;
}




.field[placeholder] {
    color: #CCCCCC;
}

.field::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #CCCCCC;
}
.field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #CCCCCC;
    opacity:  1;
}
.field::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #CCCCCC;
    opacity:  1;
}
.field:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #CCCCCC;
}
.field::-ms-input-placeholder { /* Microsoft Edge */
    color:    #CCCCCC;
}

.field::placeholder { /* Most modern browsers support this now. */
    color:    #CCCCCC;
}


input[id="cb1"] + label {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #bcbcbc;
    border-radius: 2px;
    cursor: pointer;
}

input[id="cb1"]:checked + label:after {
    position: relative;
    top: -4px;
    left: 2px;
    content: '\2714';
    font-size: 14px;
}

input[id="cb1"] {
    display: none;
}



