body {

}

a {
    color: rgba(228, 74, 13, 0.932);
    text-decoration: none;
  }

a:active {
    color: rgba(13, 228, 120, 0.932);
}
  
table {
    border: 1px solid black;
    
}

th {
    border: 1px solid black;
 }

 td {
    border: 1px solid black;
 }