
    <link rel="stylesheet" href="/css/style.css">
        <h2>Уход и кормление мейн-куна</h2>
        <p>
            Достаточно визуально оценить состояние животного, чтобы понять, какой уход осуществляет его хозяин. В первую очередь бросается роскошь шубки у породы, её густой подшёрсток и длина ворсинок просто требуют еженедельного вычёсывания. В этом поможет массивная металлическая расчёска с закруглёнными зубчиками. Особенно склонна к образованию колтунов шерсть на животике и шее, поэтому их либо сразу распутывают, либо срезают ножницами.
            Мытьё не пугает котёнка породы мейн-кун. Поэтому не забывают купать питомца и заодно прочищать его ушки сухой мягкой тряпочкой. Быстрорастущие когти домашнего хищника раз в неделю остригаются хозяином. Человек быстро приучается ухаживать за своим пушистым мейном, а кошка даже не думает при этом сопротивляться. Содержание кошки породы мейн-кун требует особенного подхода к питанию. Ветеринары предлагают готовые рассчитанные нормы по кормлению домашних великанов в зависимости от их возраста, половой принадлежности, состояния здоровья. К примеру, во время беременности кошки содержание белка в сухих кормах не должно быть меньше 30%, а жира не меньше 9%.
        </p>

        <table>
            <thead>
                <tr>
                    <th>
                        <b>Возраст котёнка </b>
                    </th>
    
                    <th>
                        <b>Можно кормить </b>
                    </th>
    
                    <th>
                        <b>Норма в день </b>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 месяц</td>
                    <td>
                        <ul>
                            <li>молоко матери</li>
                            <li>
                            жидкие молочные каши</li>
                        </ul>
                    </td>
                    <td>6 раз в сутки</td>
                </tr>
                <tr>
                    <td>1,5-2 месяца</td>
                    <td>
                        <ul>
                            <li>молоко матери</li>
                            <li>
                            жидкие молочные каши</li>
                            <li>
                            специальное молоко для котят</li>
                            <li>
                            ошпаренное мясо (скобленое)</li>
                        </ul>
                    </td>
                    <td>6 раз в сутки/120-150 г. в сутки</td>
                </tr>
                <tr>
                    <td>3-6 месяцев</td>
                    <td>
                        <ul>
                            <li>жидкое мясное пюре</li>
                            <li>
                            жидкие молочные каши</li>
                            <li>
                            специальное молоко для котят</li>
                            <li>
                            ошпаренное мясо (скобленое)</li>
                        </ul>
                    </td>
                    <td>4 раза в сутки/190-245 г. в сутки</td>
                </tr>
                <tr>
                    <td>3-6 месяцев</td>
                    <td>
                        <ul>
                            <li>жидкое мясное пюре</li>
                            <li>
                            жидкие молочные каши</li>
                            <li>
                            специальное молоко для котят</li>
                            <li>
                            ошпаренное мясо (скобленое)</li>
                        </ul>
                    </td>
                    <td>4 раза в сутки/190-245 г. в сутки</td>
                </tr>
            </tbody>
            
        </table>