<link rel="stylesheet" href="/css/style.css">
<h2>Описание мейн-кунов</h2>    
<p>
        Тем, кто любит домашних животных больших размеров, описание мейн-куна доставит эстетическое удовольствие. Кошка входит в список самых больших кошачьих пород, и, тем не менее, взрослые особи прекрасно уживаются даже в небольшой квартире. Характеристика мейн-кунов по стандарту WCF указывает, что особенностью этих котов является длинное и мускулистое тело с крупными и сильными лапами, тяготеющее формой к прямоугольнику. Между пальцами заметны пучки шерсти. Длина конечностей — средняя. Голова тоже крупная, профиль напоминает квадрат. Характерны выраженные подушечки усов, формирующие выступающую «коробочку». Подбородок мощный, а зубы подстать размерам породы — крупные и острые.
</p>